.ContainerStart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding-top: 4vh;
    margin:  0 150px;

}


.StartContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.ImgContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin: auto 0;
    background: rgb(227,227,227);
    background: linear-gradient(0deg, rgb(199, 199, 199) 0%, rgba(245,245,247,0) 70%);
    clip-path: circle();
}

.ImgContent img{
    max-width: 300px;
    min-height: 300px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.StartTextContent{
    align-self: center;
    text-align: center;
}



.StartTextContent h2{
    color: var(--Grey-Dark);
    font-size: min(50px, 7vw);
    font-weight: 500;
    text-align: center;
}

.StartTextContent h3{
    color: var(--Grey);
    font-size: min(30px, 5vw);
    font-weight: 600;
    text-align: center;
}

.BTNProfileWrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.BTNProfileWrapper button{
    max-width: 142px;
    width: 100%;
    height: 60px;
    border: 1px solid var(--Grey);
    border-radius: 30px;
    cursor: pointer;
    background: transparent;
    color: var(--Grey-Dark);
    font-size: 13px;
    font-weight: 700;
    transition: all .3s ease;
}

.BTNProfileWrapper button span{
    padding: 5px;
}

.BTNProfileWrapper button:hover{
    color: var(--White);
    background-color: var(--Grey-HoverLinks);
    border: none;
}


.BTNLinkSocialr{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iconSocials{
    width: 40px;
    height: 40px;
    fill: var(--Grey-Dark);
    transition: all .3s ease;
}

.iconSocials:hover{
    transform: scale(1.5);
}

@media screen and (max-width: 1150px) {
    .ContainerStart{
        margin: 0;
    }
    .StartContent{
       place-content: center;
       padding: 20px;
    }
}

@media screen and (max-width: 700px) {
   
}