.bg-absolute{
    background: var(--BG-html);
    background-color: var(--BG-Color-html);
}

.fallback{
    height: 100vh;
}

.lazyLoadSectionHome{
    opacity: 0;
    transform: translateY(60%);
    transition: opacity .5s ease-out, transform .5s ease;
}

.lazyLoadSectionHome.visible{
    opacity: 1;
    transform: translateY(0);
}
