@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 50;
    src: local('SF Pro Display Thin'), local('SF-Pro-Display-Thin'),
      url('./SF-Pro-Display-Thin.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 100;
    src: local('SF Pro Display Light'), local('SF-Pro-Display-Light'),
      url('./SF-Pro-Display-Light.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 200;
    src: local('SF Pro Display Regular'), local('SF-Pro-Display-Regular'),
      url('./SF-Pro-Display-Regular.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    src: local('SF Pro Display Medium'), local('SF-Pro-Display-Medium'),
      url('./SF-Pro-Display-Medium.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: local('SF Pro Display Semibold'), local('SF-Pro-Display-Semibold'),
      url('./SF-Pro-Display-Semibold.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    src: local('SF Pro Display Bold'), local('SF-Pro-Display-Bold'),
      url('./SF-Pro-Display-Bold.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    src: local('SF Pro Display Heavy'), local('SF-Pro-Display-Heavy'),
      url('./SF-Pro-Display-Heavy.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    src: local('SF Pro Display Black'), local('SF-Pro-Display-Black'),
      url('./SF-Pro-Display-Black.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 50;
    src: local('SF Pro Text Thin'), local('SF-Pro-Text-Thin'),
      url('./SF-Pro-Text-Thin.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 100;
    src: local('SF Pro Text Light'), local('SF-Pro-Text-Light'),
      url('./SF-Pro-Text-Light.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 200;
    src: local('SF Pro Text Regular'), local('SF-Pro-Text-Regular'),
      url('./SF-Pro-Text-Regular.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 300;
    src: local('SF Pro Text Medium'), local('SF-Pro-Text-Medium'),
      url('./SF-Pro-Text-Medium.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    src: local('SF Pro Text Semibold'), local('SF-Pro-Text-Semibold'),
      url('./SF-Pro-Text-Semibold.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    src: local('SF Pro Text Bold'), local('SF-Pro-Text-Bold'),
      url('./SF-Pro-Text-Bold.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    src: local('SF Pro Text Heavy'), local('SF-Pro-Text-Heavy'),
      url('./SF-Pro-Text-Heavy.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    src: local('SF Pro Text Black'), local('SF-Pro-Text-Black'),
      url('./SF-Pro-Text-Black.otf') format('opentype');
    font-display: swap;
  }

  h1,h2,h3,h4,h5,h6{
    font-family: 'SF Pro Display';
  }
  
  a,span,p{
    font-family: 'SF Pro Text';
  }