.FloatNavbar {
    position: fixed;
    width: 70vw;
    height: 60px;
    background-color: var(--NavBar-bg);
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: var(--NavBar-Shadow) 0px 10px 40px 1px;
    z-index: 100;
}

.FloatNavbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px); 
    z-index: -1; 
    border-radius: 20px; 
    background: var(--NavBar-bg);
}


.FloatNavBarHome {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.containerFloatNavHome {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}

.FloatnavHome{
    width: 100%;
}

.LinkFloatNavHome {
    text-decoration: none;
    color: var(--Grey);
    transition: .3s ease-out;
}

.home-icon{
    fill: var(--Grey);
    transition: all .3s ease;
    max-width: 20px;
    width: 100%;
    
}

.home-icon:hover{
    fill: var(--Blue);
    transform: scale(1.5);
    
}

.LinkFloatNavHome:hover {
    color: var(--Grey-HoverLinks);
}

.FloatmenuHome {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.FloatmenuHome li {
    padding: 0 10px;
}


.FloatNavbar .select svg{
    stroke: var( --Grey);
    transition: all .3s;
}

.FloatNavbar .select svg:hover{
    filter: drop-shadow(0px 0px 10px var(--Blue));
    transform: scale(110%);
}


.FloatNavbar .select-clicked svg{
    filter: drop-shadow(0px 0px 10px var(--Blue));
    transform: scale(110%);
}

@media screen and (max-width: 500px) {
    .FloatNavbar{
        width: 90vw;
    }
}