.NavBar{
    background-color: var(--BGWhite);
    transition: all 1s ease;
    
}
.NavBar.scrolled{
    transition: all 1s ease;
}

.NavBarHome{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.containerNavHome{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 12px;
    
}

.containerNavHome h1{
    color: var(--Grey-Dark);
    font-weight: 500;
}


.LinkNavHome{
    text-decoration: none;
    color: var(--Grey);
    transition: .3s ease-out;
    font-size: 13px;
    font-weight: 500;
}

.LinkNavHome:hover{
    color: var(--Grey-HoverLinks);
}

.menuHome {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.menuHome li{
    padding: 0 10px;
    font-size: 12px;
    font-weight: 500;
}


.NavBar.scrolled .NavBarHome .containerNavHome h1{
    display: none;
}

.NavBar.scrolled {
    position: fixed;
    width: 50vw;
    height: 60px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: rgb(214, 214, 214) 5px 0px 40px 1px;
    z-index: 100;
    overflow: hidden; /* Asegura que el pseudo-elemento no se salga del contenedor */
}

.NavBar.scrolled::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px); 
    z-index: -1; 
    border-radius: 20px; 
}