header{
    background-color: var(--White);
    width: 100%;
    height: 60px;
}

.NavBarHome{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    
}

.containerNavHome{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 12px;
    
}

.containerNavHome h1{
    color: var(--Grey);
    font-weight: 200;
}


.LinkNavHome{
    text-decoration: none;
    color: var(--Grey);
    transition: .3s ease-out;
    font-size: 13px;
    font-weight: 400;
}

.LinkNavHome:hover{
    color: var(--Grey-Hover);
}

.menuHome {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.menuHome li{
    padding: 0 10px;
    font-size: 12px;
    font-weight: 500;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 30px;
    height: 3px;
    margin: 4px 0;
    background-color: #000; /* Color de la barra */
    transition: 0.4s;
}

/*Convertir las barras en una x*/
.hamburger.NavHomeOpen .bar1 {
    transform: rotate(-45deg) translate(-10px, 10px);
}

.hamburger.NavHomeOpen .bar2 {
    opacity: 0;
}

.hamburger.NavHomeOpen .bar3 {
    transform: rotate(45deg) translate(-5px, -5px);
}


@media screen and (max-width: 600px) {

    .containerNavHome{
        justify-content: space-between;
    }

    .navHome {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 120px;
        right: 0;
        width: 100%;
        background-color: var(--bg-color);
        
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: height 0.4s ease-out, opacity 0.4s ease-out;
    }

    .navHome.NavHomeOpen {
        height:80vh;
        opacity: 1;
    }

    .hamburger {
        display: flex;
    }

    .menuHome {
        flex-direction: column;
        padding: 20px;
        height: 100%;
        justify-content: space-between;
        
    }


    .menuHome li:last-child{
        width: 70%;
        text-align: center;
    }

    .LinkNavHome{ /*Centrar texto link del login*/
        justify-content: center;
        font-size: 16px;
    }

    .LoginBTN::before{/*Ocultar la linea del before*/
        display: none;
    }
}